@import "tailwindcss";

@theme {
  --color-dexiko-black: #050505;
  --color-dexiko-white: #ffffff;
  --color-dexiko-orange: #ff6500;

  --font-outfit: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

/* Lenis global styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-dexiko-orange);
  color: #050505;
}
